{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

    <link href="{% static 'news_app/css/styles.css' %}" rel="stylesheet">

    <title>News App:Layout {% block title %} {% endblock %}</title>
    <!-- Description: This JavaScript script is being used for animating text within the <h1> elements for every page. 
         It makes the text appear as if it's being typed out character by character in a typewriter-like fashion when the page loads. -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
          const h1Elements = document.querySelectorAll('h1');
          function typeText(element) {
          const textToType = element.textContent;
          let charIndex = 0;
        
          function typeCharacter() {
              if (charIndex < textToType.length) {
              element.textContent = textToType.substring(0, charIndex + 1);
              charIndex++;
              setTimeout(typeCharacter, 60);
            }
          }

          typeCharacter();
          }

        h1Elements.forEach(typeText);
        } );
    </script>
  </head>
  <body class="global-background">
      <nav class="navbar navbar-expand-lg navbar-custom-bg border-bottom border-body" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">ArticleHub</a>
            <button class="navbar-toggler custom-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'news_app:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'news_app:all_news' query='news' %}">Popular</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'news_app:top_headlines' %}">US Top Headlines</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">US Categories</a>
                  <ul class="dropdown-menu custom-dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'news_app:categories' category_name='Business' %}">Business</a></li>
                      <li><a class="dropdown-item" href="{% url 'news_app:categories' category_name='Sports' %}">Sports</a></li>
                      <li><a class="dropdown-item" href="{% url 'news_app:categories' category_name='Entertainment' %}">Entertainment</a></li>
                      <li><a class="dropdown-item" href="{% url 'news_app:categories' category_name='Health' %}">Health</a></li>
                      <li><a class="dropdown-item" href="{% url 'news_app:categories' category_name='Science' %}">Science</a></li>
                      <li><a class="dropdown-item" href="{% url 'news_app:categories' category_name='Technology' %}">Technology</a></li>
                  </ul>
                </li>
              </ul>
              {% if user.is_authenticated %}
              <form class="form-inline ml-auto " method="GET" action="{% url 'news_app:search_results' %}">
                <div class="input-group">
                    <input class="form-control mr-sm-2 custom-form" type="search" placeholder="Search news" aria-label="Search" name="q" autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success my-2 my-sm-0 custom-search-button" type="submit">Search</button>
                    </div>
                </div>
              </form>
              {% endif %}
              {% if user.is_authenticated %}
              <ul class="navbar-nav custom-nav">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'news_app:user_profile' %}">PROFILE</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'news_app:logout_view' %}">LOGOUT</a></li>
              </ul>
              {% endif %}
              {% if not user.is_authenticated %}
              <ul class="navbar-nav custom-nav">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'news_app:register' %}">REGISTER</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'news_app:login_view' %}">LOGIN</a></li>
              </ul>
              {% endif %}
            </div>
          </div>
        </nav>
      <div class="container">
          {% block body %}
          {% endblock %}
      </div>
      <footer class="mb-5 small text-center text-muted">
        <div> 
          Data provided by <a href="https://newsapi.org/" target="_blank">NEWSAPI</a>
        </div>
        <div>
            Background image by <a href="https://pixabay.com/users/adege-4994132/" target="_blank">adege</a>
            from <a href="https://pixabay.com/" target="_blank">Pixabay</a>
        </div>
        <div>
            Copyright &#169; 2023 ArticleHub. All rights reserved.
        </div>
      </footer>
  </body>
</html>
