/* Background Styles */
.global-background {
    background-image: url("../images/moon-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Font and Color Styles for HTML and Body */
html, body {
    font-size: 16px;
    color: aliceblue;
    overflow: auto;
}


h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
}


h2 {
    font-size: 1.5rem; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


p {
    font-size: 1rem;
    
}

/* Image Styles */
.news-image {
    max-width: 50%;
    height: auto;
}


/* Navbar Brand Styles */
.navbar-brand {
    color: aqua;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.navbar-brand:hover {
    color: aqua;
}

/* Navigation Link Styles */
 .nav-link {
    color: teal;
    font-size: 1rem;
 } 

 .nav-link:hover {
    color: aqua;
    border-bottom: 1px solid aquamarine;
 }

 .nav-link:focus {
    color:aqua;
 }

 /* Responsive Styles for Smaller Screens */
 @media screen and (max-width: 768px) {
    h1 {
        font-size: 40px; 
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
}

/* Custom Dropdown Menu Styles */
 .custom-dropdown-menu {
    border-color: aqua;
    background-color: black;
    color:aqua
 }

 /* Styles for links within the custom dropdown menu */
 .custom-dropdown-menu a {
    color:inherit; /* Inherit the text color from the parent menu */
 }

 /* Styles for links within the custom dropdown menu when hovered */
 .custom-dropdown-menu a:hover {
    background-color: aqua;
 }

 /* Background color for the navbar with the "navbar-custom-bg" class */
 .navbar-custom-bg {
    background-color: black;
 }

 /* Styles for elements with the "url-custom-margin" class (For all templates inside "news" dir) */
 .url-custom-margin {
    margin-bottom: 70px; /* Bottom margin for elements with this class */
 }

 .custom-toggler-icon {
    border-color: aqua;
    border-radius: 20px;
    border-width: 5px;
    background-color: black; /* Background color of the toggler icon */
    
}

/* Styles for a custom search button */
.custom-search-button {
    background-color: black; /* Background color of the search button */
    border-color: aqua; /* Border color of the search button */
    color: aqua; /* Text color of the search button */
}

.custom-search-button:hover {
    background-color: black;
    border-color: aqua;
    color: aqua;
}

/* Styles for a custom form */
.custom-form {
    background-color: black; 
    border-color: aqua;
    color:black;

}

/* Styles for the custom form when focused (e.g., input fields) */
.custom-form:focus {
    background-color: black;
    border-color: aqua;
    color: aqua; 
}

.navbar-nav .nav-link {
    padding-right: unset;
    padding-left: unset;
}

.navbar-nav.custom-nav {
    margin-left: auto;
}