.centered {
    text-align: center;
}

.large {
    font-size: 25px;
    font-weight: bold;
}

.medium {
    font-size: medium;
}

.left {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 800px;
    height: auto;
}


ul {
    font-family: 'Georgia', Times New Roman, serif;
    font-size: 0.9rem;
}

ol {
    text-align: left;
    margin-bottom: 50px;
    padding-right: 10px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
}

h1 {
    border-bottom: 5px solid black;
}

h2 {
    margin-left: 1px;
    font-family: 'Source Code Pro', Menlo, monospace;
}

body {
    font-size: 25px;
    font-family: 'Roboto', Arial, sans-serif;
}

.bold {
    font-weight: bold;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-right: 20px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}

.navbar-nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.navbar-nav a:hover {
    background-color: #ebebeb;
}