.centered {
    text-align: center;
}

.large {
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}

.medium {
    font-size: medium;
}

.left {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    width: 800px;
    height: auto;
}


ul {

}

ol {

}

p {
    font-family: 'Baskerville', Times New Roman, serif;
    font-size: 20px;
    margin-left: 5px;
}

h2 {
    margin-left: 1px;
    font-style: Baskerville, Times New Roman, serif;
}