.centered {
    text-align: center;
}

.large {
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
}

.medium {
    font-size: medium;
}

.large-jpeg {
    width: 800px;
    height: auto;
}

.left {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;

}