{% extends 'base/layout.html' %}

{% block title %}
    Register
{% endblock %}


{% block body %}
<h1>Register</h1>

{% if form.errors %}
    <p>Error: Please correct the errors below and try again:</p>
    <ul>
        {% for field, errors in form.errors.items %}
        <li>{{ field }}: {{ errors.0 }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <form action="{% url 'news_app:register' %}" method="post">
    {% csrf_token %}
        
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Register</button>
    </form>

{% endblock %}


































