{% extends "layout.html" %}

{% block title %}
  Transactions
{% endblock %}



{% block main %}
    <h1 class="text-center">Transactions History</h1>
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Stock</th>
          <th scope="col">Shares Bought/ (-)sold</th>
          <th scope="col">Price/Share</th>
          <th scope="col">Total Price</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tb>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.symbol }}</td>
        <td>{{ transaction.shares }}</td>
        <td>{{ transaction.price|usd }}</td>
        <td>{{ (transaction.shares * transaction.price)| usd }}</td>
        <td>{{ transaction.date }}</td>
      </tr>
      {% endfor %}
      </tb>
    </table>
{% endblock %}


