{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}



{% block main %}
    <h1 class="text-center">Transactions History</h1>
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Stock</th>
          <th scope="col">Shares</th>
          <th scope="col">Price/Share</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tb>
      {% for stock in stock_details %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.shares }}</td>
        <td>{{ stock.price|usd }}</td>
        <td>{{ (stock.shares * stock.price)| usd }}</td>
      </tr>
      {% endfor %}
      </tb>
    </table>
{% endblock %}


