{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}



{% block main %}
  <h1 class="text-center">Portfolio</h1>
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Stock</th>
          <th scope="col">Total Shares</th>
          <th scope="col">Price/Share</th>
          <th scope="col">Total Price</th>
        </tr>
      </thead>
      <tb>
      {% for stock_details in stock_details %}
      <tr>
        <td>{{ stock_details.symbol }}</td>
        <td>{{ stock_details.shares }}</td>
        <td>{{ stock_details.price|usd }}</td>
        <td>{{ (stock_details.shares * stock_details.price)| usd }}</td>
      </tr>
      {% endfor %}
      </tb>
      <tf>
        <tr class="bg-info text-dark">
          <td>Cash</td>
          <td colspan="2"></td>
          <td>{{ user_cash| usd }}</td>
        </tr>
        <tr class="bg-dark text-light">
          <td>GRAND TOTAL</td>
          <td colspan="2"></td>
          <td>{{ grand_total| usd }}</td>
        </tr>
      </tf>
    </table>
{% endblock %}





