{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell Shares</h1>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol">
                {% for symbol in symbols %}
                
                <option value=""disabled>Select stock</option>
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Input shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
    </form>
{% endblock %}